# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Runtime data
*.seed
*.log
*.out
*.pid
*.swp
*.tsbuildinfo

pids
logs
results
tmp

__pycache__

# API keys and secrets
.env.local

# Dependency directory
node_modules

# Editors
.idea
*.iml
.vscode

# OS metadata
.DS_Store
Thumbs.db

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
